version: 2
jobs:
  build:
    docker:
       - image: ubuntu:18.04
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt-get install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Installing GCC
          command: 'apt-get update && sudo apt-get install -y gcc'
      - run:
          name: Installing Criterion
          command: 'sudo apt-get install -y software-properties-common && sudo add-apt-repository -y ppa:snaipewastaken/ppa && sudo apt-get update && sudo apt-get install -y criterion-dev'
      - run:
          name: Install Make
          command: 'apt-get update && sudo apt-get install make'
      - run:
          name: Compile the encoder
          command: make build
      - run:
          name: Run all existing testsuites
          command: make test
